<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcmut.moneymanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.splash.screen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.screen.LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.screen.Login" />
        <activity android:name=".activity.signup.screen.SignUp" />
        <activity android:name=".activity.forgotpassword.screen.forgotpassword" />
        <activity android:name=".activity.Transaction.AddTransactionActivity" />
        <activity android:name=".activity.Wallets.WalletAdd" />
        <activity android:name=".activity.IncomeAndExpense.IncomeAndExpenseHome" />
        <activity android:name=".activity.Savings.SavingsAdd" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activity.DetailIncomeAndExpense.DetailIncomeAndExpense" />
        <activity android:name=".activity.Wallets.WalletDetai" />
        <activity android:name=".activity.Wallets.WalletEdit" />
        <activity android:name=".activity.Savings.SavingDetail" />
        <activity android:name=".activity.Savings.SavingEdit" />
        <activity android:name=".activity.Tools.Tips.TipsHome" />
        <activity android:name=".activity.Events.EventsDetail" />
        <activity android:name=".activity.Events.EventsAdd" />
        <activity android:name=".activity.Events.EventEdit" />
        <activity android:name=".activity.Budget.BudgetAdd" />
        <activity android:name=".activity.Budget.BudgetEdit" />
        <activity android:name=".activity.Budget.BudgetDetail" />
        <activity android:name=".activity.Tools.Settings.SettingsHome" />
        <activity android:name=".activity.Tools.Settings.LockApp.PatternLock" />
        <activity android:name=".activity.Tools.Exchanger.ExchangeHome" />
        <activity android:name=".activity.Wallets.WalletHistory" />
        <activity android:name=".activity.Budget.BudgetHis" />
        <activity android:name=".activity.Savings.SavingHis" />
        <activity android:name=".activity.Events.EventHis" />
        <activity android:name=".activity.Tools.AbousUs.AboutUs" />
        <activity android:name=".activity.Tools.Tips.Article" />
        <activity android:name=".activity.Transaction.TransactionDetail"></activity>
    </application>

</manifest>